@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes dius-loading-bar {
    0% {
        transform: translateX(-120%);
    }
    50% {
        transform: translateX(120%);
    }
    100% {
        transform: translateX(320%);
    }
}